<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <head>
        <title>VocaStats</title>
        <link href={{url_for('static', filename = "styles/main_styling.css")}} rel = "stylesheet"/>
        <link rel="shortcut icon" type="image/jpg" href={{url_for('static', filename = "favicon.ico")}}/>
        <script src={{url_for('static', filename = "scripts/main.js")}}></script>
        <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
    </head>
    <body id="body" ng-app="singersSongsApp" ng-controller="singersSongsController">
        <h1>Vocaloid stats</h1>
        <h2>Track your favorite songs popularity</h2>
        <div id="mainContainer">
            <div id="mainHeader">
                <p id="songPanel"> Amount of songs featuring <input type="text" id="artist" name="artist" placeholder="Enter producer name" ng-model="artistName">: </p>
                <p>
                    <label for="songSubtypeDropdown">Choose mode:</label>
                    <select name="subtypes" id="songSubtypeDropdown">
                        <option value="">--Please choose an option--</option>
                        <option value="spd">Songs per day</option>
                        <option value="sam">Songs at month</option>
                        <option value="spm">Songs per month</option>
                        <option value="sim">Songs growth increase per month</option>
                        <option value="say">Songs at year</option>
                        <option value="spy">Songs per year</option>
                        <option value="siy">Songs growth increase per year</option>
                    </select>
                    <button type="submit" ng-click="submitArtist()"> Submit </button> 
                </p>
                <div id="amountChart" style="width:70%;height:70%;"></div>
                <p id="viewsPanel"> Views graph of <input type="text" id="song" name="song" placeholder="Enter song name" ng-model="songName"></p>
                <label for="subtypeDropdown">Choose mode:</label>
                <select name="subtypes" id="subtypeDropdown">
                    <option value="">--Please choose an option--</option>
                    <option value="spd">Songs per day</option>
                <div id="viewChart" style="width:70%;height:70%;"></div>
            </div>
        </div>
    </body>
</html>