<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <head>
        <title>VocaStats</title>
        <link href={{url_for('static', filename = "styles/main_styling.css")}} rel = "stylesheet"/>
        <link rel="shortcut icon" type="image/jpg" href={{url_for('static', filename = "favicon.ico")}}/>
        <script src={{url_for('static', filename = "scripts/main.js")}}></script>
        <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
    </head>
    <body id="body" ng-app="singersSongsApp" ng-controller="singersSongsController">
        <h1>Vocaloid stats</h1>
        <h2>Track your favorite songs popularity</h2>
        <p>Search for something<input class="input"> <a href="/trending">or browse the most popular things up to date </a></p>
        <div id="mainContainer">
            <div id="mainHeader">
                <p id="singerOutput"> Amount of songs featuring <span id="singer">producer</span> (as of mid-november 2024): </p>
                <p>
                    <input type="text" id="firstname" name="artist" placeholder="Enter producer name" ng-model="name">
                    <label for="subtypeDropdown">Choose mode:</label>
                    <select name="subtypes" id="subtypeDropdown">
                        <option value="">--Please choose an option--</option>
                        <option value="songsPerDay">Songs per day</option>
                        <option value="songsAtMonth">Songs at month</option>
                        <option value="songsPerMonth">Songs per month</option>
                        <option value="songsIncrMonth">Songs growth increase per month</option>
                        <option value="songsAtYear">Songs at year</option>
                        <option value="songsPerYear">Songs per year</option>
                        <option value="songsIncrYear">Songs growth increase per year</option>
                    </select>
                    <button type="submit" ng-click="submit()"> Submit </button> 
                </p>
                <div id="chart" style="width:70%;height:70%;"></div>
            </div>
        </div>
    </body>
</html>