<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<head>
    <title>Vocaloid Stats</title>
    <link href={{url_for('static', filename = "styles/views_styling.css")}} rel = "stylesheet" />
    <link rel="shortcut icon" type="image/jpg" href={{url_for('static', filename = "favicon.ico")}}/>
    <script src={{url_for('static', filename = "scripts/title_script.js")}}></script>
    <style>
        #songsButton {
            display: none;
        }
    </style>
</head>
<body id="body">
    <div id="main-sidebar" class="main-sidebar" ng-app="main-sidebar" ng-controller="main-sidebar-controller">
        <a href="#" class="sideButton" id="artistsButton">Artists</a>
        <a href="#" class="sideButton" id="singersButton">Singers</a>
        <a href="#" class="sideButton" id="songsButton">Songs</a>
        <a href="#" class="sideButton" id="switchButton" ng-click="switchMode()">Switch</a>
    </div>
    <div id="mainContainer">
        <div id="mainHeader">
            <p> Title page </p>
        </div>
    </div>
</body>
</html>